<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Horror & Gore: The Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="header_container ion-text-wrap">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">Meet our project:</ion-title>
    </ion-toolbar>
    <app-home-header-slider></app-home-header-slider>
  </ion-header>
  <div class="glass-content">
    <app-home-body-banners></app-home-body-banners>
    <br>
    <app-home-body-card-ui></app-home-body-card-ui>
  </div>
</ion-content>
